In [ ]:
import pandas as pd

In [ ]:
master_data = pd.read_csv('Book2.csv',sep=',', encoding='latin-1')
print('data shape: ', master_data.shape)
master_data.head()

data shape:  (814, 8)

,Name,Qualification,Y.O.P,Experience,Employment Status,Salary,Lead Stage,Sub stage
0,Nisha Jais,0,0.0,0.5,NaN,0,Non Contact,Attempt above 5
1,niranjan singh,BSC-IT,2022.0,0.0,NaN,0,Invalid,Not comfortable in English
2,Debasiah Man0,Diplomo-Mechanical,0.0,0.5,NaN,0,Not Interested,Not aware of showing any interest
3,Ashwin Bhatt,0,0.0,0.5,NaN,0,Invalid,Not comfortable in English
4,Sarvesh Pandey,BBA,2015.0,0.0,Not working,0,Not Interested,No Fi0ncial support

In [ ]:
master_data.info()
master_data_copy=master_data.copy()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 814 entries, 0 to 813
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               805 non-null    object
 1   Qualification      801 non-null    object
 2   Y.O.P              800 non-null    float64
 3   Experience         799 non-null    float64
 4   Employment Status  255 non-null    object
 5   Salary             801 non-null    object
 6   Lead Stage         776 non-null    object
 7   Sub stage          773 non-null    object
dtypes: float64(2), object(6)
memory usage: 51.0+ KB

In [ ]:
cleaned_data=master_data_copy.drop(['Name'], axis=1)
cleaned_data.head()

,Qualification,Y.O.P,Experience,Employment Status,Salary,Lead Stage,Sub stage
0,0,0.0,0.5,NaN,0,Non Contact,Attempt above 5
1,BSC-IT,2022.0,0.0,NaN,0,Invalid,Not comfortable in English
2,Diplomo-Mechanical,0.0,0.5,NaN,0,Not Interested,Not aware of showing any interest
3,0,0.0,0.5,NaN,0,Invalid,Not comfortable in English
4,BBA,2015.0,0.0,Not working,0,Not Interested,No Fi0ncial support

In [ ]:
cleaned_data_copy = cleaned_data.copy()
cleaned_data_copy.head()

,Qualification,Y.O.P,Experience,Employment Status,Salary,Lead Stage,Sub stage
0,0,0.0,0.5,NaN,0,Non Contact,Attempt above 5
1,BSC-IT,2022.0,0.0,NaN,0,Invalid,Not comfortable in English
2,Diplomo-Mechanical,0.0,0.5,NaN,0,Not Interested,Not aware of showing any interest
3,0,0.0,0.5,NaN,0,Invalid,Not comfortable in English
4,BBA,2015.0,0.0,Not working,0,Not Interested,No Fi0ncial support

In [ ]:
Qualification_dic={"NA":1,
                  "BSC-IT":2,
"Diplomo-Mechanical":3,
"BBA":4,
"Bcom":5,
"BE/BTech-CS":6,
"MBA":7,
"MA":8,
"BE/BTech-E&C":9,
"BSC-Physics":10,
"BE/BTech-E&T":11,
"Mcom":12,
"12th":13,
"BSC":14,
"BE/Btech-Mechanical":15,
"BA":16,
"BE/BTech":17,
"12th ":18,
"MCA":19,
"BE-Mech":20,
"BCA":21,
"BE/BTech-Automobiles":22,
"BE/BTech-EEE":23,
"Others":24,
"Mtech/ME":25,
"Diplomo-EEE":26,
"BE/BTech-Civil":27,
"MSC-CS":28,
"BSC- Chemistry":29,
"BSC-CS":30,
"BE/BTech-IT":31,
"BT/BTech-Chemical":32,
"MSC-IT":33,
"MSc":34,
"Diplomo-CS":35,
"Diplomo-Civil":36,
"Btech -Mech":37,
"Bsc-CS - MBA":38,
"Bsc -Maths":39,
"BE":40,
"Btech-IT":41,
"Masters in computers":42,
"Btech-CS (89//89//59)":43,
"BE -Mech":44,
}

In [ ]:
Employment_Status_dic={"NA":1,
"Not working":2,
"Working":3,
"Others":4,
"Fresher":5,
"3.5lpa":6,
"4.9lpa":7,
"18k":8,
"89000 per month":9,}

In [ ]:
Salary_dic={"NA":1,
"40000":2,
"32000":3,
"4.5 lpa":4,
"4.2 LPA":5,
"4.25LPA":6,
"3lpa ":7,
"5.7lpa":8,
"7.5 LPA":9,
"18.5LPA":10,
"13000":11,
"2lpa":12,
"4.2LPA":13,
"5lpa":14,
"40000PM":15,
"3.7LPA":16,
"3lpa":17,
"15000":18,
"4LPA":19,
"8.7LPA":20,
"5.5lpa":21,
"40000 PM":22,
"25000 PM":23,
"12000 P M":24,
"3.1LPA":25,
"3.5 LPA":26,
"3.5LPA":27,
"18000 PM":28,
"20000":29,
"3.2 LPA":30,
"25000":31,
"6lpa":32,
"8lpa":33,
"8 lPA":34,
"2.7LPA":35,
"17000 in hand ":36,
"21000":37,
"1.2LPA":38,
"16500":39,
"22000":40,
"22000 PM":41,
"3.6lpa":42,
"55000PM":43,
"50000":44,
"6.5LPA":45,
"4.28LPA":46,
"2.5lpa":47,
"4.85":48,
"4.8lpa":49,
"6.5 LPA":50,
"2.4 lpa":51,
"1.5L":52,
"2.2L":53,
"2L":54,
"4.2L":55,
"5L":56,
"10L":57,
"6.45L":58,
"1.4L":59,
"3.6L":60,
"4L":61,
"2.6L":62,
"3L":63,
"25k":64,
"Very less":65,
"10K":66,
"4.5L":67,
"2.4L":68,
"6L":69,
"20k":70,
"3.3L":71,
"15K":72,
"7L":73,
"15k / month":74,
"18k":75,
"600 per day":76,
"3.9L":77,
"4.8 LPA":78,
"2.3 LPA":79,
"2.5L":80,
"2.8 LPA":81,
"1.4lpa":82,
"84k per year":83,
"25k monthly":84,
"3.3LPA":85,
"20k per month":86,
"4.5LPA":87,
"9LPA":88,
"24k":89,
"3.8LPA":90,
"10LPA":91,
"7LPA":92,
"29k":93,
"":94,
"16LPA":95,
"4.4lpa":96,
"20LPA":97,
"5.8lpa":98,
"2.4LPA":99,
"invalid":100,
"Not interested":101,
"Followup(cold)":102,
"Followup(CBL)":103,
"Non contact":104,
"Followup(warm)":105,
"11.9L":106,
"4lpa ":107,
"12LPA":108,}

In [ ]:
Sub_stage_dic={"Attempt above 5":1,
"Not comfortable in English":2,
"Not aware of showing any interest":3,
"No Financial support ":4,
"Call Back Later":5,
"Not valid for our program":6,
"Family din't agreed":7,
"Wrong Number":8,
"Change of Plans":9,
"Warm ":10,
"No particular reason":11,
"Cold":12,
"12th Std":13,
"looking for other courses":14,
"Cibil issue":15,
"Disconnected the call saying not interested ":16,
"Looking for job":17,
"Undergraduate":18,
"Already done course":19,
"Incoming call restricted":20,
"Fees is tooo high":21,
"Not in service":22,
"Joined somewhere else":23,
"Need Pay after placement":24,
"personal reason":25,
"Looking for future batches":26,
"Disconnected the call":27,
"financial issue":28,
"Dropped a message as not interested":29,
"High Foir":30,
"Attempt 5 ":31,
"Looking for only internship":32,
"Need course for shorter period":33,
"NA":34,
"Looking for offline classes":35,
"Attempt 4":36,
"Attempt 2":37,
"Hot":38,
"Attempt 1":39,
"Attempt 3":40,
"Others":41,
"Still pursuing bachelors":42,
"Warm":43,
"Batch timings is not flexible":44,
"":45,
"Looking for offline":46,
}

In [ ]:
Lead_Stage_dic={"Non Contact":1,
"Invalid":2,
"Not Interested":3,
"In contact":4,
"Follow Up":5,
"Undergraduate":6,
"Future Batches":7,
"Loan Rejected":8,
"Duplicate":9,
"Deal Won ":10,
"Documents Collected":11,
"":12,
"Deal Won":13,
}

In [ ]:
def clean_map(df, dictToMap, oldColName):
    """This will take a dataframe,
    a number of column names &
    create new columns of datetime objects"""
    newColName = oldColName + "_map"
    df[newColName] = df[oldColName].map(dictToMap)
    del df[oldColName]
    return df

In [ ]:
data_only_numbers=cleaned_data_copy.copy()

In [ ]:
data_only_numbers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 814 entries, 0 to 813
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Qualification      801 non-null    object
 1   Y.O.P              800 non-null    float64
 2   Experience         799 non-null    float64
 3   Employment Status  255 non-null    object
 4   Salary             801 non-null    object
 5   Lead Stage         776 non-null    object
 6   Sub stage          773 non-null    object
dtypes: float64(2), object(5)
memory usage: 44.6+ KB

In [ ]:
data_only_numbers = clean_map(data_only_numbers, Qualification_dic, 'Qualification')
data_only_numbers = clean_map(data_only_numbers, Employment_Status_dic, 'Employment Status')
data_only_numbers = clean_map(data_only_numbers, Salary_dic, 'Salary')
data_only_numbers = clean_map(data_only_numbers, Sub_stage_dic, 'Sub stage')
data_only_numbers = clean_map(data_only_numbers, Lead_Stage_dic, 'Lead Stage')

In [ ]:
data_only_numbers

,Y.O.P,Experience,Qualification_map,Employment Status_map,Salary_map,Sub stage_map,Lead Stage_map
0,0.0,0.5,NaN,NaN,NaN,1.0,1.0
1,2022.0,0.0,2.0,NaN,NaN,2.0,2.0
2,0.0,0.5,3.0,NaN,NaN,3.0,3.0
3,0.0,0.5,NaN,NaN,NaN,2.0,2.0
4,2015.0,0.0,4.0,2.0,NaN,NaN,3.0
...,...,...,...,...,...,...,...
809,0.0,0.0,NaN,NaN,NaN,NaN,2.0
810,2019.0,2.5,6.0,NaN,NaN,NaN,13.0
811,2019.0,0.3,11.0,NaN,108.0,NaN,13.0
812,NaN,NaN,NaN,NaN,NaN,NaN,NaN
813,2021.0,0.5,34.0,NaN,NaN,NaN,13.0

In [ ]:
data_only_numbers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 814 entries, 0 to 813
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Y.O.P                  800 non-null    float64
 1   Experience             799 non-null    float64
 2   Qualification_map      331 non-null    float64
 3   Employment Status_map  234 non-null    float64
 4   Salary_map             158 non-null    float64
 5   Sub stage_map          744 non-null    float64
 6   Lead Stage_map         761 non-null    float64
dtypes: float64(7)
memory usage: 44.6 KB

In [ ]:
print(data_only_numbers.isnull().sum())

Y.O.P                     14
Experience                15
Qualification_map        483
Employment Status_map    580
Salary_map               656
Sub stage_map             70
Lead Stage_map            53
dtype: int64

In [ ]:
mydataset_without_null = data_only_numbers.fillna(0)

In [ ]:
print(mydataset_without_null.isnull().sum())

Y.O.P                    0
Experience               0
Qualification_map        0
Employment Status_map    0
Salary_map               0
Sub stage_map            0
Lead Stage_map           0
dtype: int64

In [ ]:
procesed_data_copy=mydataset_without_null.copy()

In [ ]:
procesed_data_copy.head()

,Y.O.P,Experience,Qualification_map,Employment Status_map,Salary_map,Sub stage_map,Lead Stage_map
0,0.0,0.5,0.0,0.0,0.0,1.0,1.0
1,2022.0,0.0,2.0,0.0,0.0,2.0,2.0
2,0.0,0.5,3.0,0.0,0.0,3.0,3.0
3,0.0,0.5,0.0,0.0,0.0,2.0,2.0
4,2015.0,0.0,4.0,2.0,0.0,0.0,3.0

In [ ]:
y=procesed_data_copy.iloc[:, 6]
x=procesed_data_copy.drop(['Lead Stage_map'], axis=1)
x.head()

,Y.O.P,Experience,Qualification_map,Employment Status_map,Salary_map,Sub stage_map
0,0.0,0.5,0.0,0.0,0.0,1.0
1,2022.0,0.0,2.0,0.0,0.0,2.0
2,0.0,0.5,3.0,0.0,0.0,3.0
3,0.0,0.5,0.0,0.0,0.0,2.0
4,2015.0,0.0,4.0,2.0,0.0,0.0

In [ ]:
y.head()

0    1.0
1    2.0
2    3.0
3    2.0
4    3.0
Name: Lead Stage_map, dtype: float64

In [ ]:
import numpy as np

after running " *from mlxtend.feature_selection import SequentialFeatureSelector as SFS* " this command you might get error this is because mlxtend is trying to import joblib from sklearn but it no longer exist there so fix this issue go to the file location (there will a file location link in the error message like this " /usr/local/lib/python3.7/dist-packages/mlxtend/feature_selection/sequential_feature_selector.py <module> " click on this location link)
then it will show you code written in that file then you just have to look for this line " from sklearn.externals.joblib import Parallel, delayed " and edit it to " from joblib import Parallel, delayed " and then save it by pressing ctrl+s. then run the code again. Again it will give error but this time the location link will be different and you have to again edit the file in same way as done priviouslly and save it and run the code again and this will solve the error.

In [ ]:
from mlxtend.feature_selection import ExhaustiveFeatureSelector as EFS
from sklearn.svm import SVC
svc = SVC()

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
from xgboost import XGBClassifier
gb = XGBClassifier()

In [ ]:
efs = EFS(gb, # can use any any learning method
          min_features=1,
          max_features=4,
          scoring='accuracy',
          print_progress=True,
          cv=2
          ).fit(np.array(x[x.columns[0:4]].fillna(0)), y)

/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=2.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=2.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=2.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=2.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=2.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=2.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=2.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=2.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=2.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=2.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=2.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=2.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=2.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=2.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=2.
  warnings.warn(
Features: 15/15

In [ ]:
print(efs.best_idx_)

(0, 3)

In [ ]:
# x with feature selection
x_reduced = efs.transform(x)
x_reduced.shape

(814, 2)

In [ ]:
# x without feature selection
x.shape

(814, 6)

In [ ]:
y.shape

(814,)

In [ ]:
# normal spliting with feature selection
from sklearn.model_selection import train_test_split
x_f_train, x_f_test, y_f_train, y_f_test = train_test_split(x_reduced, y, test_size=0.2, random_state=42, shuffle=True)

In [ ]:
# normal spliting without feature selection
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42, shuffle=True)

In [ ]:
x_train

,Y.O.P,Experience,Qualification_map,Employment Status_map,Salary_map,Sub stage_map
239,2019.0,1.5,23.0,2.0,0.0,14.0
446,2019.0,0.5,7.0,2.0,0.0,5.0
334,0.0,0.0,0.0,0.0,0.0,39.0
598,0.0,0.0,0.0,0.0,0.0,39.0
533,0.0,0.0,0.0,0.0,0.0,27.0
...,...,...,...,...,...,...
71,0.0,0.0,5.0,0.0,0.0,1.0
106,0.0,0.5,27.0,0.0,0.0,5.0
270,2019.0,0.0,17.0,2.0,0.0,21.0
435,2017.0,1.5,9.0,2.0,0.0,12.0
102,0.0,0.5,21.0,0.0,0.0,5.0

In [ ]:
from xgboost import XGBClassifier
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [ ]:
#without feature selection
gb = XGBClassifier()
gb.fit(x_train,y_train)

y_pred_gb = gb.predict(x_test)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print("Accuracy Score: ",accuracy_score(y_test, y_pred_gb))

Accuracy Score:  0.8588957055214724

In [ ]:
#with feature selection
gb = XGBClassifier()
gb.fit(x_f_train,y_f_train)

y_pred_gb = gb.predict(x_f_test)

In [ ]:
print("Accuracy Score: ",accuracy_score(y_f_test, y_pred_gb))

Accuracy Score:  0.4171779141104294

In [ ]:
#20% for training and 80% for testing without feature selection
x_b_train, x_b_test, y_b_train, y_b_test = train_test_split(x, y, test_size=0.8, random_state=42, shuffle=True)

gb_b = XGBClassifier()
gb_b.fit(x_b_train,y_b_train)

y_pred_gb_b = gb_b.predict(x_b_test)

In [ ]:
print("Accuracy Score: ",accuracy_score(y_b_test, y_pred_gb_b))

Accuracy Score:  0.7837423312883436

In [ ]:
#20% for training and 80% for testing with feature selection
x_f_b_train, x_f_b_test, y_f_b_train, y_f_b_test = train_test_split(x_f_train, y_f_train, test_size=0.8, random_state=42, shuffle=True)

gb_b = XGBClassifier()
gb_b.fit(x_f_b_train,y_f_b_train)

y_pred_gb_b = gb_b.predict(x_f_b_test)

In [ ]:
print("Accuracy Score: ",accuracy_score(y_f_b_test, y_pred_gb_b))

Accuracy Score:  0.3723608445297505

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42, shuffle=True)

In [ ]:
#without feature selection
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf.fit(x_train,y_train)

RandomForestClassifier()

In [ ]:
y_pred_rf = rf.predict(x_test)
print("Accuracy Score: ",accuracy_score(y_test, y_pred_rf))

Accuracy Score:  0.7668711656441718

In [ ]:
# with feature selection
rf=RandomForestClassifier()
rf.fit(x_f_train,y_f_train)

RandomForestClassifier()

In [ ]:
y_pred_rf = rf.predict(x_f_test)
print("Accuracy Score: ",accuracy_score(y_f_test, y_pred_rf))

Accuracy Score:  0.4110429447852761

In [ ]:
# without feature selection
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(x_train,y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [ ]:
ylr_pred = logreg.predict(x_test)

In [ ]:
print("Accuracy Score: ", accuracy_score(ylr_pred, y_test))

Accuracy Score:  0.4601226993865031

In [ ]:
# with feature selection
logreg = LogisticRegression()
logreg.fit(x_f_train,y_f_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [ ]:
ylr_pred = logreg.predict(x_f_test)
print("Accuracy Score: ", accuracy_score(ylr_pred, y_f_test))

Accuracy Score:  0.44171779141104295